# Python
__pycache__/
*.pyc
.venv/
.env
.DS_Store

# Build & dist
build/
dist/
*.egg-info/

# Data & artifacts (keep vector index & embeddings out of git)
data/openai/
data/nist/
data/iapp/
artifacts/
store/

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
