# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
.env*/

# Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS Artifacts
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Data Dumps
/data/
*.sqlite
*.db
*.jsonl
